# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
.DS_Store
/bin
/build
/vendor
/.idea
/.vscode
/.env
/test_data

__debug*
scratch*
